body{
background: white;  /*#DCE6F0;*/
margin: 0px;}

/*Nav Bar text colour dark blue*/
.nav-custom{background-color: #1B2A3C;   height: 65px;}

/*Login, profile, register, Logout button customise*/
.btn-primary.custom-btn {
	background-color: #1B2A3C;
  color: #C1D3E6;
	border: none;
}
/*Home page text colour light blue*/
.navbar-brand{color: #C1D3E6;}
/*Dropdown Navbar colour light blue*/
.nav-link{color: #C1D3E6;}
/*Dropdown text colour and fill*/
.dropdown-menu{background-color: #26374B; }
.dropdown-item{color:  #C1D3E6;}
/*infobar height and color*/
.col.linkbar{
  height: 45px;
  background-color: #0F1924;
  text-align: center;
  padding: 10px;
}
/*Links color and style*/
a.link-linkbar{
  text-decoration: none;
  color: #8E959C;
}
a.link-linkbar:hover{ color: white;}
/*max height for card right*/
.row{padding: 0px; margin:0px;}
.carousel-item{max-height: 600px;}
/*max height for card right*/

.card-btn{justify-content: center;}
.card{height:540px;}
.image{
background: black;
height: 180px;
}
img{
 width: 100%;
 height: 540px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
	padding-top: 10px;
  width: 100%;
	height:45px;
  background-color: #1B2A3C;
  color: #C1D3E6;
  text-align: center;
}
a.footer-link:hover{color: white;}
a.footer-link{
  text-decoration: none;
  color: #8E959C;
}
